rules_version = '2';
service cloud.firestore {
 match /databases/{database}/documents {
  function signedIn() { return request.auth != null; }
  function admin() { return signedIn() && request.auth.token.admin == true; }
  match /users/{uid} { allow create, update: if signedIn() && request.auth.uid == uid; allow read: if admin(); }
  match /loginEvents/{eventId} { allow create: if signedIn() && request.resource.data.uid == request.auth.uid; allow read: if admin(); allow update, delete: if false; }
  match /sessions/{sessionId} { allow create: if signedIn() && request.resource.data.uid == request.auth.uid; allow update: if signedIn() && resource.data.uid == request.auth.uid; allow read: if admin(); allow delete: if false; }
  match /activityEvents/{eventId} { allow create: if signedIn() && request.resource.data.uid == request.auth.uid; allow read: if admin(); allow update, delete: if false; }
  match /userProgress/{uid} { allow create, update: if signedIn() && request.auth.uid == uid; allow read: if admin() || (signedIn() && request.auth.uid == uid); allow delete: if false; }
 }
}
